{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
{% endblock style %}
<div id="navbar-container">
    
    <a href="{% url 'home' %}" id="nav-logo">
        <img id="logo-image" src="{% static 'images/time-management.png' %}" alt="logo">
    </a>
    <div id="nav-links">
        <ul class="nav-list">
            <li>
                <a href="#" class="nav-element" id="calendar">
                    <img src="{% static 'images/calendar.png' %}" alt="calendar icon" class="icon" id="calendar-icon">
                    <p class="nav-text">Calendar</p>
                </a>
            </li> 
            
            <li >
                <a class="nav-element" id="messages" href="#">
                    <img src="{% static 'images/chatting.png' %}" alt="messages icon" class="icon" id="messages-icon">
                    <p class="nav-text">Messages</p>
                </a>
            </li>
            
            <li >
                <a class="nav-element" id="chart" href="#">
                    <img src="{% static 'images/line-chart.png' %}" alt="chart icon" class="icon" id="chart-icon">
                    <p class="nav-text">Charts</p>
                </a>
            </li>
        </ul>
        <hr id="nav-hr">
        <ul class="nav-list">
            {% for list in lists %}
            
            <li>
                <a class="nav-element" id="list-list" href="{% url 'list' list.id %}">
                    <img src="{% static 'images/checklist.png' %}" alt="list icon" class="icon" id="list-icon">
                    <p class="nav-text">{{list.title}}</p>
                </a>
            </li>
            {% endfor %}
            <li>
                <a href="{% url 'add-list' %}" class="nav-element" id="create-list">
                    <img src="{% static 'images/create.png' %}" alt="create icon" class="icon" id="create-icon">
                    <p class="nav-text"> Create list</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="search-container">

</div>