#list-view-container {
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / span 2/ span 7;
    background-color: #F5F5F5;
    border-radius: 1vh;
    border: 0.2vh solid #EBEBEB;
    box-sizing: border-box;
}


.list-element {

    display: flex;
    align-items: center;
    margin: auto 1vh;

}

.list-element-text {
    word-break: break-word;
    display: table-cell;
    width: 100%;
    vertical-align: top;
    padding: 0 1vh;
}

.container {
    display: block;
    position: relative;
    padding-left: 3.5vh;
    margin-bottom: 1.2vh;

    font-size: 2.2vh;

}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5vh;
    width: 2.5vh;
    background-color: #eee;
    border: 0.3vh solid #E0E0E0;
    border-radius: 0.5vh;
    box-shadow: #E0E0E0 0.1vh 0.1vh 0.2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


input~.checkmark:hover {
    background-color: #E0E0E0;
}

input:checked~.checkmark {
    background-color: #00CC9C;
    border: 0.3vh solid #00CC9C;
    box-shadow: #00CC9C 0 0.5vh 1vh;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}



#list-title {
    font-size: 4.5vh;
    float: left;
    margin: 0 0 2vh 1vh;
}

#date {
    font-size: 2vh;
    float: right;
    margin: 1vh 1vh;
}

#list-description {
    font-size: 1.5vh;
    clear: both;
    margin: 1vh;
}

#list-hr {
    margin-top: 2vh;
    height: 0.3vh;
    border-width: 0;
    background-color: #EBEBEB;
    width: 100%;
}

#add-icon {
    height: 3vh;
    width: auto;
    margin-right: 0.7vh;
}

#add-item {
    color: #D6D6D6;
    text-decoration: none;

}

#add-item:hover {
    color: #B8B8B8;
    text-decoration: none;
    cursor: pointer;
}

#add-item:hover #add-icon {
    content: url(../images/add-darker.png);
}

/* -------------popup form ------------- */
#popup-add-item-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */

    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/ opacity */
}

#add-item-window {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-color: #F5F5F5;
    border-radius: 1vh;
    border: 0.5vh solid #EBEBEB;
    box-sizing: border-box;
}

#close-item-form:hover {
    color: gray;
    cursor: pointer;
}

.item-view:hover {
    cursor: pointer;
    color: gray;
}

/* -------------- item view --------------- */
#popup-view-item-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */

    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/ opacity */
}

#view-item-window {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: fit-content;
    background-color: #F5F5F5;
    border-radius: 1vh;
    border: 0.5vh solid #EBEBEB;
    box-sizing: border-box;
    padding: 2vh;
}
#close-view-item{
    float: right;
}
#close-view-item:hover {
    color: gray;
    cursor: pointer;
}
#item-view-description{
    word-wrap: break-word;
}
#delete-item{
    float: right;
}
#delete-item:hover {
    color: gray;
    cursor: pointer;
}