{% extends 'main.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row m-5 ">
    <div class="col-6 ">
        <div class="card h-100">
                <div class="card text-white bg-dark mb-1 h-100">
                    <div class="card-header">List name</div>
                    <div class="card-body ">
                        {% for list in lists %}
                        <h4 class="card-title">
                            <div class="row ">
                            <div class="col-6  p-0">
                                <p class="text-left m-0">
                                    <a class="text-white " href="{% url 'update-list' list.id %}">{{list.title}}</a>
                                </p>
                            </div>
                        
                            <div class="col-6">
                                <p class="text-right text-white">
                                    <a class="text-white" href="{% url 'add-item' list.id %}">Add</a> | 
                                    <a class="text-white" href="{% url 'delete-list' list.id %}">Delete</a>
                                </p>
                            </div>
                        </div>
                    </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    
    <div class="col-6 ">
        <div class="card  h-100">
            <div class="card text-white bg-dark mb-1 h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">Task name</div>
                        <div class="col-4">Due date</div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="card-body">
                    {% for item in items %}
                    <h4 class="card-title">
                        <div class="row ">
                            <div class="col-4  p-0">
                                <p class="text-left m-0">
                                    <a class="text-white " href="#">{{item.title}}</a>
                                </p>
                            </div>
                            <div class="col-4  p-0">
                                <p class="text-left m-0">
                                    <a class="text-white " href="#">{{item.due_date}}</a>
                                </p>
                            </div>
                            <div class="col-4 p-0">
                                <p class="text-right text-white">
                                    <a class="text-white" href="{% url 'update-item' item.id %}">Edit</a> |
                                    <a class="text-white" href="{% url 'delete-item' item.id %}">Delete</a>
                                </p>
                            </div>
                        </div>
                    </hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock content %}