{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>TaskMaster</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
</head>

<body>
    <div id="container">
        <h1 id="user">logged: </h1>
        <div>
        <form id="login-form">
            <label for="Username">Username</label>
            <input type="text" name="Username" id="Username">
            <label for="Password">Password</label>
            <input type="password" name="Password" id="Password">
            <input type="submit" value="login">
        </form>
        </div>
    </div>



</body>
<script src="{% static 'js/login.js' %}"></script>
</html>